<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <title>Adam Smith</title>
    <module href="/components/head.html"></module>
  </head>

  <body>
    <module href="/components/nav.html"></module>

    <module href="/components/hero.html"></module>

    <module href="/components/about.html"></module>

    <module href="/components/experience.html"></module>

    <module href="/components/projects.html"></module>

    <module href="/components/contact.html"></module>
  </body>
</html>