@charset "utf-8";

@import '_variables';

html {
  background-color: $primary !important;
  scroll-behavior: smooth;
}

nav.navbar {
  background-color: white;
  max-height: $navbar-height;
}

.navbar-brand {
  margin-left: 0 !important;

  .navbar-item {
    padding-left: 0;
  }
}

.navbar-brand-name {
  padding: 0.25rem;
  border: 2px solid black;
  font-weight: bold;
}

.section {
  padding: 3rem 1rem !important;
}

nav {
  padding: 0 1.5rem !important;
}

.has-background-1 {
  background-color: $background-color1;
}

.has-background-2 {
  background-color: $background-color2;
}

.navbar.is-spaced {
  padding-top: $navbar-padding-vertical;
  padding-bottom: $navbar-padding-vertical;
  padding-left: $navbar-padding-horizontal;
  padding-right: $navbar-padding-horizontal;
}

.nav-anchor {
  position: absolute;
  top: calc(-1 * $navbar-height);
}

.nav-section {
  position: relative;
}

.terminal-window {
  background-color: #2D2E2C;
  border-radius: 10px;
  text-align: left;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .terminal-window-header {
    background: $tertiary;
    height: 30px;
    border-radius: 8px 8px 0 0;
  }

  .terminal-wrapper {
    margin: 10px 20px;
    border-radius: 4px;
    background-color: #2D2E2C;
    max-height: 400px;
  }
}

#auburnTabContents {
  height: 100px;
  overflow-y: scroll;
}

.tab-content {
  display: none;
}

.tab-content.is-active {
  display: block;
}

@import "../../node_modules/bulma/bulma.sass";

.container.is-fluid {
  max-width: 1200px !important;
}