@charset "utf-8";

@import '_variables';

html {
  background-color: $primary !important;
  scroll-behavior: smooth;
}

nav.navbar {
  background-color: white;
  max-height: $navbar-height;
}

.navbar-brand {
  margin-left: 0 !important;

  .navbar-item {
    padding-left: 0;
  }
}

.navbar-brand-name {
  padding: 0.25rem;
  border: 2px solid black;
  font-weight: bold;
}

.section {
  padding: 3rem 1rem !important;
}

nav {
  padding: 0 1.5rem !important;
}

.has-background-1 {
  background-color: $background-color1;
}

.has-background-2 {
  background-color: $background-color2;
}

.has-background-accent-1 {
  background-color: $accent1 !important;
}

.has-background-accent-2 {
  background-color: $accent2 !important;
}

.has-background-accent-3 {
  background-color: $accent3 !important;
}

.has-background-transparent {
  background-color: transparent !important;
}

.navbar.is-spaced {
  padding-top: $navbar-padding-vertical;
  padding-bottom: $navbar-padding-vertical;
  padding-left: $navbar-padding-horizontal;
  padding-right: $navbar-padding-horizontal;
}

.nav-anchor {
  position: absolute;
  top: calc(-1 * $navbar-height);
}

.nav-section {
  position: relative;
}

.terminal-window {
  background-color: #2D2E2C;
  border-radius: 10px;
  text-align: left;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .terminal-window-header {
    background: $tertiary;
    height: 30px;
    border-radius: 8px 8px 0 0;
  }

  .terminal-wrapper {
    margin: 10px 20px;
    border-radius: 4px;
    background-color: #2D2E2C;
    max-height: 400px;
  }
}

.tab-box {
  padding-top: 0.75rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

#auburnTabs {
  margin-bottom: 0;

  .tab a {
    background-color: transparent;
    border-color: none;
    color: white;
  }

  .tab.is-active a {
    background-color: $accent2;
    border-color: white;
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
}

#auburnTabContents {
  height: 132px;
  overflow-y: scroll;
  background-color: $accent2;

  padding-top: .5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: .75rem;

  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.tab-content {
  display: none;
}

.tab-content.is-active {
  display: block;
}

@import "../../node_modules/bulma/bulma.sass";

.container.is-fluid {
  max-width: 1200px !important;
}