<section class="section nav-section has-background-2">
  <div class="nav-anchor" id="about"></div>

  <div class="container is-fluid">
    <header class="content">
      <h2 class="title is-3">About Me</h2>

      <p>I'm a <strong>fullstack software developer</strong> who builds <strong>data-driven</strong> and <strong>well-architected</strong> software solutions. Currently, I'm completing my last semester at
        <strong>Auburn University</strong> and seeking a job opportunity starting in <strong>Spring 2023</strong>.
      </p>
    </header>
    
    <div class="columns">
      <div class="column">
        <article class="content">
          <h3 class="title is-4">Get to know me!</h3>
          
          <p>I am a self-motivated and detail-oriented engineer who is most content when being a productive member of a high-functioning team.</p>

          <p>I enjoy modeling complex, real-world domains in software, particularly ones that result in interesting database structures.</p>
          
          <p>
            I also have a strong passion for theoretical mathematics, especially cryptography and number theory.
            One of my primary hobbies is self-studying upper-level mathematics books.
          </p>
        </article>
      </div>
      <div class="column">
        <h3 class="title is-4">Education</h3>

        <div class="card my-3">
          <div class="card-content">
            <div class="box">
              <p class="subtitle is-7">August 2018 - December 2022</p>
              <h5 class="title is-5">Auburn University</p>
            </div>

            <div class="box">
              <div class="tabs is-centered is-fullwidth" id="auburnTabs">
                <ul>
                  <li class="tab is-active" data-target="degreeInfo">
                    <a>
                      <span>Degree Info</span>
                    </a>
                  </li>
                  <li class="tab" data-target="coursesTaken">
                    <a>
                      <span>Courses Taken</span>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="tab-contents" id="auburnTabContents">
                <div class="tab-content is-active" id="degreeInfo">
                  <p>Bachelor of Software Engineering</p>
                  <p>Minor in Mathematics</p>
                  <p>GPA: 4.04 / 4.00</p>
                </div>

                <div class="tab-content" id="coursesTaken">
                  test
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card my-3">
          <div class="card-content">
            <div class="box">
              <p class="subtitle is-7">August 2014 - May 2018</p>
              <h5 class="title is-5">Spanish Fort High School</p>
            </div>

            <div class="box">
              <p>AP Diploma with Distinction</p>
              <p>GPA: 3.50 / 4.00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>