<section class="section nav-section has-background-2">
  <div class="nav-anchor" id="about"></div>

  <div class="container is-fluid">
    <header class="content">
      <h2 class="title is-3">About Me</h2>

      <p>I'm a <strong>fullstack software developer</strong> who builds <strong>data-driven</strong> and <strong>well-architected</strong> software solutions. Currently, I'm completing my last semester at
        <strong>Auburn University</strong> and seeking a job opportunity starting in <strong>Spring 2023</strong>.
      </p>
    </header>
    
    <div class="columns">
      <div class="column">
        <article class="content">
          <h3 class="title is-4">Get to know me!</h3>
          
          <p>I am a self-motivated and detail-oriented engineer who is most content when being a productive member of a high-functioning team.</p>

          <p>I enjoy modeling complex, real-world domains in software, particularly ones that result in interesting database structures.</p>
          
          <p>
            I also have a strong passion for theoretical mathematics, especially cryptography and number theory.
            One of my primary hobbies is self-studying upper-level mathematics books.
          </p>
        </article>
      </div>
      <div class="column">
        <h3 class="title is-4">Education</h3>

        <div class="card my-5">
          <div class="card-content">
            <div class="box is-shadowless pt-0 mb-0">
              <p class="subtitle is-7">August 2018 - December 2022</p>
              <h5 class="title is-5">Auburn University</p>
            </div>

            <div class="box tab-box">
              <div class="tabs is-centered is-fullwidth" id="auburnTabs">
                <ul>
                  <li class="tab is-active" data-target="degreeInfo">
                    <a>
                      <span>Degree Info</span>
                    </a>
                  </li>
                  <li class="tab" data-target="coursesTaken">
                    <a>
                      <span>Courses Taken</span>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="tab-contents" id="auburnTabContents">
                <div class="tab-content is-active" id="degreeInfo">
                  <p>Bachelor of Software Engineering</p>
                  <p>Minor in Mathematics</p>
                  <p>GPA: 3.50 / 4.00</p>
                  <p>Dean's List: Fall 2018, Fall 2020, Summer 2021</p>
                </div>

                <div class="tab-content" id="coursesTaken">
                  <div class="overflow-list">
                    <ul>
                      <li>Number Theory</li>
                      <li>Intro to Abstract Algebra I</li>
                      <li>Senior Design Project</li>
                      <li>Computer and Network Security</li>
                      <li>Secure Software Process</li>
                      <li>Computer Ethics</li>
                      <li>Software Quality Assurance</li>
                      <li>Database Systems I</li>
                      <li>Probability and Stochastic Processes I</li>
                      <li>Software Modeling and Design</li>
                      <li>Intro to Advanced Mathematics</li>
                      <li>Data Compression</li>
                      <li>Cryptography</li>
                      <li>Intro to Operating Systems</li>
                      <li>Computer Architecture</li>
                      <li>Intro to Computer Networks</li>
                      <li>iOS Application Developement</li>
                      <li>Principles of Programming Languages</li>
                      <li>Introduction to Algorithms</li>
                      <li>Computer Organization and Assembly Programming</li>
                      <li>Fundamentals of Engineering Mechanics</li>
                      <li>Probability and Statistics I</li>
                      <li>Survey of American Lit II</li>
                      <li>Introduction to Ethics</li>
                      <li>Software Construction</li>
                      <li>Discrete Structures</li>
                      <li>Digital Logic Circuits</li>
                      <li>Linear Differential Equations</li>
                      <li>Fundamentals of Computing II</li>
                      <li>Calculus III</li>
                      <li>Topics in Linear Algebra</li>
                      <li>General Chemistry II</li>
                      <li>Fundamentals of Computing I</li>
                      <li>Engineering Orientation</li>
                      <li>Calculus II</li>
                      <li>Engineering Physics I</li>
                      <li>General Chemistry I</li>
                      <li>Introduction to Engineering</li>
                      <li>Calculus I</li>
                      <li>Appreciation of Music</li>
                      <li>Intro to Psychology</li>
                      <li>Principles of Biology</li>
                      <li>English Composition II</li>
                      <li>English Composition I</li>
                      <li>Survey of US History Since 1877</li>
                      <li>Survey of US History to 1877</li>
                      <li>American Government in a Multicultural World</li>
                    </li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card my-5">
          <div class="card-content">
            <div class="box is-shadowless pt-0 mb-0">
              <p class="subtitle is-7">August 2014 - May 2018</p>
              <h5 class="title is-5">Spanish Fort High School</p>
            </div>

            <div class="box">
              <p>AP Diploma with Distinction</p>
              <p>GPA: 4.04 / 4.00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>