<section class="section nav-section has-background-1">
  <div class="nav-anchor" id="contact"></div>

  <div class="container is-fluid">
    <h2 class="title">
      Contact Me
    </h2>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>
  </div>
</section>