<section class="section has-background-1">
  <div class="container is-fluid">
    <div class="columns is-multiline">
      <div class="column is-5-desktop is-full-tablet is-full-mobile">
        <h1 class="title is-1">Hi, I'm Adam!</h1>
        <p class="subtitle is-4">Software Engineer and Lifelong Learner</p>

        <div class="hero-links">
          <div class="hero-links-left">
            <a class="button" href="#contact">Hire Me</a>
            <a class="button" href="https://drive.google.com/file/d/1j4igk3usCWVademxqq3Np3EmNnFwy1-L/view?usp=sharing" target="_blank" >Resume</a>
          </div>
          <div class="hero-links-right">
            <a class="button" href="https://github.com/cadamsmith" target="_blank">
              <span class="icon">
                <i class="fa-brands fa-square-github fa-2x"></i>
              </span>
            </a>
    
            <a class="button" href="https://www.linkedin.com/in/cadamsmithdev" target="_blank">
              <span class="icon">
                <i class="fa-brands fa-linkedin fa-2x"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="column is-7-desktop is-full-tablet is-full-mobile">
        <div class="terminal-window">
          <div class="terminal-window-header"></div>
          <div class="terminal-wrapper inner">
            <div class="terminal xterm" dir="ltr" tabindex="0""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>