<section class="section has-background-1">
  <div class="container is-fluid">
    <div class="columns is-multiline">
      <div class="column is-5-desktop is-full-tablet is-full-mobile">
        <h1 class="title is-1">Hi, I'm Adam!</h1>
        <p class="subtitle is-4">Software Engineer and Lifelong Learner</p>

        <a class="button" href="#contact">Hire Me</a>
      </div>
      <div class="column is-7-desktop is-full-tablet is-full-mobile">
        <div class="terminal-window">
          <div class="terminal-window-header"></div>
          <div class="terminal-wrapper inner">
            <div class="terminal xterm" dir="ltr" tabindex="0""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>