<nav class="navbar is-fixed-top is-spaced" role="navigation" aria-label="main navigation">
  <div class="container is-fluid">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <div class="navbar-brand-name is-uppercase">
          <p>Adam</p>
          <p>Smith</p>
        </div>
      </a>
  
      <a id="navBurgerBtn" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navMenu" class="navbar-menu is-boxed">
      <div class="navbar-end">
        <a class="navbar-item nav-link" href="#about" data-target="navBurgerBtn">
          About
        </a>
  
        <a class="navbar-item nav-link" href="#experience" data-target="navBurgerBtn">
          Experience
        </a>
  
        <a class="navbar-item nav-link" href="#projects" data-target="navBurgerBtn">
          Projects
        </a>
  
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary nav-link" href="#contact" data-target="navBurgerBtn">
              <strong>Contact</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>